'<DOCTYPE! HTML>
        <html>
        <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto|Roboto+Slab&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css" integrity="sha256-UZFVAO0Fn854ajzdWnJ2Oze6k1X4LNqE2RJPW3MBfq8=" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        </head>
        <body>
        <header class="">
        <h1 class="teamname" >Company Team Page </h1>
        </header>
        <container>
        <div class="row">
        <div class="col">
                <div id="manager">
                        <div class="card">
                        <div class="card-header managerstyle"><h2> managerArr[0].name </h2><i class="fas fa-tasks"></i></div>
                        <div class="card-body">
                                <div class=content>
                                        <p><span> ID: </span>  + managerArr[0].id</p> <hr>
                                        <p> <span> Email: </span> + managerArr[0].email</p> <hr>
                                        <p> <span> Office Number: </span> + managerArr[0].officeNumber</p>
                                </div>
                                
                        </div>
                <div class="card-footer managerstyle"> "Manager"</div>
                        </div>
                </div>
        </div>
        <div class="col">
                        <div id="engineer">
                                <div class="card">
                                <div class="card-header engineerstyle"><h2> engineerArr[0].name </h2><i class="fas fa-cogs"></i></div>
                                <div class="card-body">
                                        <div class=content>
                                                <p><span> ID: </span>  + engineerArr[0].id</p> <hr>
                                                <p> <span> Email: </span> + engineerArr[0].email</p> <hr>
                                                <p> <span> Office Number: </span> + engineerArr[0].officeNumber</p>
                                        </div>
                                        
                                </div>
                        <div class="card-footer engineerstyle"> "Engineer"</div>
                                </div>
                        </div>
                </div>
                <div class="col">
                                <div id="intern">
                                        <div class="card">
                                        <div class="card-header internstyle"><h2> internArr[0].name </h2><i class="fas fa-graduation-cap"></i></div>
                                        <div class="card-body">
                                                <div class=content>
                                                        <p><span> ID: </span>  + internArr[0].id</p> <hr>
                                                        <p> <span> Email: </span> + internArr[0].email</p> <hr>
                                                        <p> <span> Office Number: </span> + internArr[0].officeNumber</p>
                                                </div>
                                                
                                        </div>
                                <div class="card-footer internstyle"> "Intern"</div>
                                        </div>
                                </div>
                        </div>
                        